*:not(a) {
    font-family: 'ADLaM Display', cursive;
    text-align: center;
    color: #000000;
}

h1 {
    padding: 20px;
    border-radius: 10px;
    width: fit-content;   
}

a {
    text-decoration: none;
    color: rgb(0, 0, 255);
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.5);
    -webkit-text-stroke-width:  1px;
}

a:hover {
    color: rgb(0, 200, 255);
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}