* {
    font-family: 'ADLaM Display', cursive;
    text-align: center;
    color: #000000;
}

a[wip] {
    background: repeating-linear-gradient( -45deg, rgba(255, 217, 0, 0.5), rgba(255, 217, 0, 0.5) 10px, #0000008f 10px, #0000008f 20px);
}
a[wip]:hover {
    box-shadow: 0px 0px 50px rgba(255, 217, 0, 1);
    background-color: #ffffff;
}

h1 {
    z-index: 5;
}
a {
    text-decoration: none;
}

body {
    background-color: #f4f4f4;
}

.flex-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap; 
   gap: 20px;
}

a,h1,.flex-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    width: fit-content;
}

a {
    font-size: larger;
}

a:hover {
    scale: 1.1;
    box-shadow: 0px 0px 50px rgb(0, 255, 0);
    background-color: #00ff00;
}