.light {
    --text : #000000;
    --bg : #f4f4f4;
    --box-bg : #ffffff;
    --box-shadow : rgba(0, 0, 0, 0.5);
    --link-bg : rgb(224, 224, 224);
    --link-wip-bg : rgba(255, 217, 0, 0.5);
    --link-hover : rgb(0, 255, 0);
    --link-wip-hover : rgb(255, 217, 0);
}

.dark {
    --text : #ffffff;
    --bg : #212121;
    --box-bg : #343434;
    --box-shadow : rgba(0, 0, 0, 0.5);
    --link-bg : rgb(89, 89, 89);
    --link-wip-bg : rgba(106, 94, 25, 0.5);
    --link-hover : rgb(24, 111, 24);
    --link-wip-hover : rgb(106, 94, 25);
}

/* <uniquifier>: Use a uniquifier for the class name*/
/* <weight>: Use a value from 300 to 700*/

*
 {
    font-family: "Comfortaa", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    
    text-align: center;
    color: var(--text);
    font-size: 25px;

    /*not selectable text*/
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; /* Standard syntax */

    transition: background-color 0.2s ease, color 0.2s ease,box-shadow 0.2s ease
}

body {
    background-color: var(--bg);
    padding: 0px;
    margin: 0px;
    margin-left: 20px;
}

html, body {
    height: 100%;
}

h1 {
    z-index: 1;
}

a {
    text-decoration: none;
}
/*-----------------*/
/*section*/
/*-----------------*/
header::-webkit-scrollbar {
    display: none;
}

header {
    overflow-x: scroll;
    white-space: nowrap; /* Prevent line breaks */

    position: sticky;
    top: 0%;
    left: 0%;
    z-index:2;

    display:flex;
    flex-direction: row;
    justify-content: left;

    gap: 20px;
    padding: 20px;
}

header>.boite {
    backdrop-filter: blur(5px);
}

header>button,.themebutton {
    background:  var(--link-wip-bg);
    border: none;
    position: sticky;
    z-index: 3;
    top: 0%;
    left: 0%;
}

header>button{
    right: 0%;
}

header>button:hover,.themebutton:hover {
    box-shadow: 0px 0px 20px var(--link-wip-hover);
    background-color: var(--link-wip-hover);
    cursor: pointer;
}

.filter-title {

}

.filter-tag {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 10px;
}

.filter-tag>input {
    aspect-ratio: 1/1;
    height: 90%;

    border-radius: 5px;
}

.filter-tag>input:hover {
    cursor: pointer;
}



/*-----------------*/
/*section*/
/*-----------------*/

.nope:hover {
    cursor:initial;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    gap: 20px;
    
    width:fit-content;

    transition: width 0.2s ease,height 0.2 ease;

    margin-right: 20px;
 }

 .flex-container,h1 {
    background-color: var(--box-bg)
 }
 
.boite {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px var(--box-shadow);
    width: fit-content;
}
/*-----------------*/
/*a link*/
/*-----------------*/
.flex-item {
    background-color: var(--link-bg);
    display: flex;
    flex-direction: column;

    gap: 10px;
}

.desc {
    font-size:medium;
    opacity: 0.75;
}

.tags {
    font-size:small; 
    opacity: 0.5;
}

.name {
    padding-bottom: 5px;
    border-bottom: 1px var(--text) dashed;
}

.flex-item, section, h1, .themebutton {
    transition: filter 0.3s ease,transform 0.2s ease, box-shadow 0.2s ease,background-color 0.2s ease,-webkit-text-stroke 0.2s ease;
    filter: invert(0%);
    cursor: pointer;
}

/*hover*/

.flex-item:hover,section h1:hover {
    filter: invert(100%);
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px var(--box-bg) ;
}

.wip:hover {
    filter: none;
    box-shadow: 0px 0px 20px var(--link-wip-hover);
    background-color: var(--link-wip-hover);
}

/*link wip*/
.wip {
    background:  var(--link-wip-bg);
}

@media (max-width:700px) {
    header>button,.themebutton {
        position: static;
    }
}